10:38 AM 16-Oct-2010:40 AM 16-Oct-20  <style>
  body{
height: 200px;
width: 1000px;
}
	.head{
	height: 190px;
	margin-left: -50px;
	}
  .icon-bar {
	margin-top: 1px;
    width: 920px;
    text-align: center;
    background-color: #555;
	height: 40px;
	border-radius: 5px;
	margin-left: -25px;
}
.icon-bar a {
    width: 15%;
    padding: 12px 0;
    float: left;
    color: white;
    font-size: 20px;
	margin-bottom: 3px;

}
.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: yellowgreen !important;
}
input[type=text], select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
	float: right;
	margin-right: 1px;
	margin-top: 1px;
}
.right{
	height: 700px;
	margin-top: 0px;
	width: 220px;
	float: right;
	background-color: tranparent;
	border-radius: 3px;
	}
.ads{
	margin-right: 20px;
	margin-left: 20px;
	font-size: 20px;
}
#courier{
	margin-left: 10px;6:40 PM 10-Oct-20
	margin-top: -15px;
	font-family: Calibri;
	color: white;
	font-size: 40px;
}

#img1{
	float: right;
    margin: -425px 0px 20px 20px;
}
#img2{
	float: right;
    margin: -315px 0px 20px 20px;
}
#img3{
	float: right;
    margin: -205px 0px 20px 20px;
}
#img4{
	float: right;
    margin: -100px 0px 20px 20px;
}
.container{
float: left;
border-radius: 5px;
padding-left:20px;
margin-left: 30px;
height: 230px;
width: 895px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content{
background-color: lightblue !important;
margin-top: 8px;
float: left;
padding-left:20px;
margin-left: 0px;
width: 1310px;
}
.video{
	background-color: #c7c8c9;
	margin-right: 2px;
	margin-left: -8px;
}
.aside{
float: left;
padding-left:50px;
margin-left: 30px;
width: 900px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer{
	margin-left: -10px;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 
	border-top: 5px solid red;  

.button{
   text-align:center;
   color:gray;
background-color:transparent;
border-color:inherit
clear:both;
}
}
</style>